# Student Loan Risk with Deep Learning

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from pathlib import Path

2025-04-10 21:55:57.924528: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [2]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [3]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [4]:
# Check the credit_ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [5]:
# Define the target set y using the credit_ranking column
y = loans_df["credit_ranking"].values

# Display a sample of y
print(y[:5])

[0 0 0 1 0]

In [6]:
# Define features set X by selecting all columns but credit_ranking
X = loans_df.drop(columns=["credit_ranking"])

# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [7]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [8]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_train_scaled = scaler.fit_transform(X_train)

# Scale the features test dataset
X_test_scaled = scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [9]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.columns)

# Review the number of features
print(number_input_features)

11

In [10]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 80

# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 30

# Define the number of neurons in the output layer
output_neurons = 1

In [11]:
# Create the Sequential model instance
nn = tf.keras.models.Sequential()

# Add the first hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation="relu", input_dim=number_input_features))

# Add the second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(tf.keras.layers.Dense(units=output_neurons, activation="sigmoid"))

/opt/anaconda3/lib/python3.12/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [12]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 80)             │           960 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 30)             │         2,430 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            31 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 3,421 (13.36 KB)

 Trainable params: 3,421 (13.36 KB)

 Non-trainable params: 0 (0.00 B)

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [13]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50, verbose=2)

Epoch 1/50
38/38 - 1s - 33ms/step - accuracy: 0.6756 - loss: 0.6130
Epoch 2/50
38/38 - 0s - 3ms/step - accuracy: 0.7339 - loss: 0.5343
Epoch 3/50
38/38 - 0s - 4ms/step - accuracy: 0.7406 - loss: 0.5168
Epoch 4/50
38/38 - 0s - 2ms/step - accuracy: 0.7515 - loss: 0.5050
Epoch 5/50
38/38 - 0s - 2ms/step - accuracy: 0.7606 - loss: 0.4962
Epoch 6/50
38/38 - 0s - 3ms/step - accuracy: 0.7606 - loss: 0.4895
Epoch 7/50
38/38 - 0s - 4ms/step - accuracy: 0.7673 - loss: 0.4843
Epoch 8/50
38/38 - 0s - 3ms/step - accuracy: 0.7681 - loss: 0.4801
Epoch 9/50
38/38 - 0s - 3ms/step - accuracy: 0.7740 - loss: 0.4740
Epoch 10/50
38/38 - 0s - 3ms/step - accuracy: 0.7740 - loss: 0.4692
Epoch 11/50
38/38 - 0s - 3ms/step - accuracy: 0.7815 - loss: 0.4645
Epoch 12/50
38/38 - 0s - 3ms/step - accuracy: 0.7882 - loss: 0.4613
Epoch 13/50
38/38 - 0s - 3ms/step - accuracy: 0.7898 - loss: 0.4592
Epoch 14/50
38/38 - 0s - 3ms/step - accuracy: 0.7915 - loss: 0.4556
Epoch 15/50
38/38 - 0s - 3ms/step - accuracy: 0.7815 - loss: 0.4514
Epoch 16/50
38/38 - 0s - 3ms/step - accuracy: 0.7957 - loss: 0.4486
Epoch 17/50
38/38 - 0s - 3ms/step - accuracy: 0.7973 - loss: 0.4438
Epoch 18/50
38/38 - 0s - 3ms/step - accuracy: 0.7915 - loss: 0.4415
Epoch 19/50
38/38 - 0s - 3ms/step - accuracy: 0.7948 - loss: 0.4393
Epoch 20/50
38/38 - 0s - 3ms/step - accuracy: 0.7982 - loss: 0.4343
Epoch 21/50
38/38 - 0s - 3ms/step - accuracy: 0.7990 - loss: 0.4318
Epoch 22/50
38/38 - 0s - 3ms/step - accuracy: 0.8048 - loss: 0.4276
Epoch 23/50
38/38 - 0s - 4ms/step - accuracy: 0.7998 - loss: 0.4245
Epoch 24/50
38/38 - 0s - 3ms/step - accuracy: 0.8082 - loss: 0.4198
Epoch 25/50
38/38 - 0s - 3ms/step - accuracy: 0.8090 - loss: 0.4186
Epoch 26/50
38/38 - 0s - 3ms/step - accuracy: 0.8023 - loss: 0.4146
Epoch 27/50
38/38 - 0s - 3ms/step - accuracy: 0.8148 - loss: 0.4147
Epoch 28/50
38/38 - 0s - 3ms/step - accuracy: 0.8132 - loss: 0.4093
Epoch 29/50
38/38 - 0s - 3ms/step - accuracy: 0.8140 - loss: 0.4085
Epoch 30/50
38/38 - 0s - 3ms/step - accuracy: 0.8240 - loss: 0.3997
Epoch 31/50
38/38 - 0s - 3ms/step - accuracy: 0.8215 - loss: 0.4015
Epoch 32/50
38/38 - 0s - 3ms/step - accuracy: 0.8299 - loss: 0.3955
Epoch 33/50
38/38 - 0s - 5ms/step - accuracy: 0.8324 - loss: 0.3929
Epoch 34/50
38/38 - 0s - 3ms/step - accuracy: 0.8232 - loss: 0.3903
Epoch 35/50
38/38 - 0s - 3ms/step - accuracy: 0.8240 - loss: 0.3895
Epoch 36/50
38/38 - 0s - 3ms/step - accuracy: 0.8315 - loss: 0.3873
Epoch 37/50
38/38 - 0s - 3ms/step - accuracy: 0.8290 - loss: 0.3786
Epoch 38/50
38/38 - 0s - 3ms/step - accuracy: 0.8365 - loss: 0.3746
Epoch 39/50
38/38 - 0s - 3ms/step - accuracy: 0.8324 - loss: 0.3740
Epoch 40/50
38/38 - 0s - 3ms/step - accuracy: 0.8432 - loss: 0.3703
Epoch 41/50
38/38 - 0s - 3ms/step - accuracy: 0.8332 - loss: 0.3669
Epoch 42/50
38/38 - 0s - 3ms/step - accuracy: 0.8440 - loss: 0.3605
Epoch 43/50
38/38 - 0s - 3ms/step - accuracy: 0.8365 - loss: 0.3652
Epoch 44/50
38/38 - 0s - 3ms/step - accuracy: 0.8449 - loss: 0.3552
Epoch 45/50
38/38 - 0s - 3ms/step - accuracy: 0.8482 - loss: 0.3551
Epoch 46/50
38/38 - 0s - 4ms/step - accuracy: 0.8490 - loss: 0.3507
Epoch 47/50
38/38 - 0s - 3ms/step - accuracy: 0.8440 - loss: 0.3471
Epoch 48/50
38/38 - 0s - 3ms/step - accuracy: 0.8557 - loss: 0.3438
Epoch 49/50
38/38 - 0s - 3ms/step - accuracy: 0.8532 - loss: 0.3392
Epoch 50/50
38/38 - 0s - 3ms/step - accuracy: 0.8490 - loss: 0.3380

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [15]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss:.3f}, Accuracy: {model_accuracy:.3f}")

13/13 - 0s - 16ms/step - accuracy: 0.7550 - loss: 0.5296
Loss: 0.530, Accuracy: 0.755

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [16]:
# Set the model's file path
model_path = "student_loans.keras"

# Export your model to a keras file
nn.save(model_path)

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [17]:
# Set the model's file path
model_path = "student_loans.keras"

# Load the model to a new object
from tensorflow import keras
loaded_model = keras.models.load_model(model_path)

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [18]:
# Make predictions with the test data
predictions = loaded_model.predict(X_test_scaled)

# Display a sample of the predictions
print("\n")
print(predictions[:5])

13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step


[[0.09170232]
 [0.43779826]
 [0.9296667 ]
 [0.7867446 ]
 [0.9930724 ]]

In [19]:
# Save the predictions to a DataFrame and round the predictions to binary results
predictions_df = pd.DataFrame(predictions)
predictions_df["credit_ranking"] = y_test
predictions_df.head()

          0  credit_ranking
0  0.091702               0
1  0.437798               1
2  0.929667               1
3  0.786745               1
4  0.993072               1

### Step 4: Display a classification report with the y test data and predictions

In [20]:
# Print the classification report with the y test data and predictions
from sklearn.metrics import classification_report

# Convert predictions to binary (0 or 1) using 0.5 as threshold
predictions_binary = (predictions > 0.5).astype(int)

# Generate and print the classification report
print("\nClassification Report:")
print(classification_report(y_test, predictions_binary))

Classification Report:
              precision    recall  f1-score   support

           0       0.74      0.74      0.74       188
           1       0.77      0.77      0.77       212

    accuracy                           0.76       400
   macro avg       0.75      0.75      0.75       400
weighted avg       0.76      0.76      0.76       400

---
## Discuss creating a recommendation system for student loans

Briefly answer the following questions in the space provided:

1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.

2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.

3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.
**1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.**


**2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.**


**3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.**

1. Data Needed:
Student Profile Data (academic, financial, personal info, educational goals)
Loan Product Data (interest rates, terms, conditions, fees)
Historical Performance Data (default rates, repayment success)
2. Filtering Method:
Context-based filtering because:
Must consider multiple contextual factors simultaneously
Each student's situation is unique
Requires real-time, personalized recommendations
Must adapt to changing circumstances
3. Real-World Challenges:
Data Privacy and Security:
Sensitive financial/personal information
Must comply with FERPA, GLBA, and privacy laws
Security breaches could have severe consequences
Ethical Considerations and Bias:
Must avoid perpetuating inequalities
Prevent discrimination based on protected characteristics
Ensure fair access to favorable loan terms
Critical due to long-term financial impact on students